<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
			<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
	
		<typeAlias type="com.gd.mystore.dto.EDocDto" alias="EDocDto"/>					<!-- 전자결재 -->
		<typeAlias type="com.gd.mystore.dto.EDocApprovalDto" alias="EDocApprovalDto"/>	<!-- 전자결재선 -->
		<typeAlias type="com.gd.mystore.dto.EDocAttachDto" alias="EDocAttachDto"/>		<!-- 전자결재 첨부파일 -->
		<typeAlias type="com.gd.mystore.dto.EDocSampleDto" alias="EDocSampleDto"/>		<!-- 전자결재 양식 -->
		
		<typeAlias type="com.gd.mystore.dto.PersonnelDto" alias="PersonnelDto"/>			<!-- 사원 -->
		<typeAlias type="com.gd.mystore.dto.SalaryDto" alias="SalaryDto"/>					<!-- 급여 -->
		<typeAlias type="com.gd.mystore.dto.ProductDto" alias="ProductDto"/>					<!-- 상품 -->
		
		<!-- 로그인 -->
		<typeAlias type="com.gd.mystore.dto.EmpMemberDto" alias="EmpMemberDto"/>
		
	</typeAliases>
	
	
	<mappers>
	
		<mapper resource="mappers/edoc-mapper.xml" />			<!-- 전자결재 mapper -->
		
		<mapper resource="mappers/personnel-mapper.xml" />            <!-- 사원 및 인사 관리 매퍼 -->
  	    <mapper resource="mappers/salary-mapper.xml" />               <!-- 급여 관리 매퍼 -->
		
		<!-- 로그인 mapper -->
		<mapper resource="mappers/empMember-mapper.xml"/>
	</mappers>
	

</configuration>
