<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
			<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.gd.mystore.dto.EDocDto" alias="EDocDto"/>									<!-- 전자결재 -->
		<typeAlias type="com.gd.mystore.dto.EDocApprovalDto" alias="EDocApprovalDto"/>	<!-- 전자결재선 -->
		<typeAlias type="com.gd.mystore.dto.EDocAttachDto" alias="EDocAttachDto"/>			<!-- 전자결재 첨부파일 -->
		<typeAlias type="com.gd.mystore.dto.EDocSampleDto" alias="EDocSampleDto"/>			<!-- 전자결재 양식 -->
	
	</typeAliases>
	
	
	<mappers>
		<mapper resource="mappers/edoc-mapper.xml" />			<!-- 전자결재 mapper -->
	
	</mappers>
	

</configuration>
