<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
			<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
	
		<typeAlias type="com.gd.mystore.dto.EDocDto" alias="EDocDto"/>													<!-- 전자결재 -->
		<typeAlias type="com.gd.mystore.dto.EDocApprovalDto" alias="EDocApprovalDto"/>					<!-- 전자결재선 -->
		<typeAlias type="com.gd.mystore.dto.EDocAttachDto" alias="EDocAttachDto"/>							<!-- 전자결재 첨부파일 -->
		<typeAlias type="com.gd.mystore.dto.EDocSampleDto" alias="EDocSampleDto"/>							<!-- 전자결재 양식 -->
		<typeAlias type="com.gd.mystore.dto.PersonnelDto" alias="PersonnelDto"/>								<!-- 사원 -->
		<typeAlias type="com.gd.mystore.dto.SalaryDto" alias="SalaryDto"/>											<!-- 급여 -->
		<typeAlias type="com.gd.mystore.dto.ProductDto" alias="ProductDto"/>										<!-- 상품 -->
		<typeAlias type="com.gd.mystore.dto.EmpMemberDto" alias="EmpMemberDto"/>								<!-- 로그인 -->
		<typeAlias type="com.gd.mystore.dto.BoardTypeDto" alias="BoardTypeDto"/>								<!-- 시스템 게시판타입 -->
		<typeAlias type="com.gd.mystore.dto.DepartmentDto" alias="DepartmentDto"/>		  				<!-- 부서조회 -->
		<typeAlias type="com.gd.mystore.dto.DepTransferDto" alias="DepTransferDto"/>						<!--부서 이동내역 조회 -->
		<typeAlias type="com.gd.mystore.dto.BoardDto" alias="BoardDto"/>												<!-- 게시판 -->
		<typeAlias type="com.gd.mystore.dto.BoardFileDto" alias="BoardFileDto"/>								<!-- 게시판 첨부파일 -->
		<typeAlias type="com.gd.mystore.dto.BoardTypeDto" alias="BoardTypeDto"/>								<!-- 게시판 생성(관리자) -->
		<typeAlias type="com.gd.mystore.dto.CommonCodeDto" alias="CommonCodeDto"/>							<!-- 공통코드 -->
		<typeAlias type="com.gd.mystore.dto.OrderingListDto" alias="OrderingListDto"/>					<!-- 발주상품 -->
		<typeAlias type="com.gd.mystore.dto.OrderingProductDto" alias="OrderingProductDto"/>		<!-- 발주리스트 -->
		<typeAlias type="com.gd.mystore.dto.DispatchDto" alias="DispatchDto"/>									<!-- 배차리스트 -->
		<typeAlias type="com.gd.mystore.dto.CalendarDto" alias="CalendarDto"/>									<!-- 풀캘린더 -->
		<typeAlias type="com.gd.mystore.dto.LogDto" alias="LogDto"/>														<!-- 로그 -->
		<typeAlias type="com.gd.mystore.dto.WorkDto" alias="WorkDto"/>													<!-- 근태 -->
		<typeAlias type="com.gd.mystore.dto.NoteDto" alias="NoteDto"/>													<!-- 쪽지 -->
		<typeAlias type="com.gd.mystore.dto.ReplyDto" alias="ReplyDto"/>												<!-- 댓글 -->
		<typeAlias type="com.gd.mystore.dto.GoodDto" alias="GoodDto"/>													<!-- 좋아요 -->											<!-- 댓글 -->
		<typeAlias type="com.gd.mystore.dto.WorkStatusDto" alias="WorkStatusDto"/>

		
	</typeAliases>
	
	
	<mappers>
	
		<mapper resource="mappers/edoc-mapper.xml" />									  <!-- 전자결재 mapper -->
		<mapper resource="mappers/personnel-mapper.xml" />           		<!-- 사원 및 인사 관리 매퍼 -->
    <mapper resource="mappers/salary-mapper.xml" />               	<!-- 급여 관리 매퍼 -->
		<mapper resource="mappers/department-mapper.xml" />           	<!-- 사원 및 인사 관리 매퍼 -->
		<mapper resource="mappers/system-mapper.xml"/>									<!-- 시스템 mapper -->
    <mapper resource="mappers/salary-mapper.xml" />              		<!-- 급여 관리 매퍼 -->
		<mapper resource="mappers/branchoffice-mapper.xml"/>						<!-- 상품 매퍼 -->
		<mapper resource="mappers/ordering-mapper.xml"/>								<!-- 발주 매퍼 -->
		<mapper resource="mappers/calendar-mapper.xml"/>								<!-- 달력 매퍼 -->
		<mapper resource="mappers/board-mapper.xml"/>										<!-- 게시판 매퍼 -->
		<mapper resource="mappers/work-mapper.xml"/>										<!-- 근태 매퍼 -->
		<mapper resource="mappers/note-mapper.xml"/>										<!-- 쪽지 매퍼 -->
		<mapper resource="mappers/workStatus-mapper.xml"/>										
		
		<!-- 지점 mapper -->
		<mapper resource="mappers/empMember-mapper.xml"/>
	</mappers>
	

</configuration>
