<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="edocMapper">

	<resultMap id="edocSampleResultMap" type="EDocSampleDto">
		<result column="sample_no" property="sampleNo" />
		<result column="sample_dot_code" property="sampleDotCode" />
		<result column="sample_desc" property="sampleDesc" />
		<result column="sample_format" property="sampleFormat" />
		<result column="emp_no" property="empNo" />
		<result column="create_date" property="createDt" />
		<result column="modifier" property="modyfy" />
		<result column="modify_date" property="modifyDt" />
		<result column="use_yn" property="useYN" />
	</resultMap>
	
	<select id="selectEDocSampleListCount" resultType="_int">
		select
					count(*)
		 from
		 			tbl_edoc_sample
		where use_yn = 'Y'
	</select>
	
	<select id="selectEDocSampleList" resultMap="edocSampleResultMap">
		select 
					sample_no
				, sample_dot_code
				, sample_desc
				, emp_no
				, to_char(create_date, 'YYYY-MM-DD') create_date
	 	 from 
	 	 			tbl_edoc_sample
		where	use_yn = 'Y'
		order by sample_no desc					
	</select>
	
	<select id="insertEDocSample">
		insert
			into tbl_edoc_sample
			(
				sample_no
			, sample_dot_code
			, sample_desc
			, sample_format
			, emp_no
			, create_date
			)
			values
			(
				sample_no_seq.nextval
			,	#{sampleDotCode}
			,	#{sampleDesc}
			,	#{sampleFormat}
			,	1003
			,	SYSDATE	
			)
	</select>
	
	<update id="deleteEdocSample">
		update
			 		tbl_edoc_sample
			set use_yn = 'n'
			 		
		<where>
        <foreach item="deleteNo" collection="array" 
        				 open="sample_no in (" separator="," close=")">
            #{deleteNo}
        </foreach>
		</where>
	</update>

</mapper>

