<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="empMemberMapper">

	<resultMap id="empMemberResultMap" type="EmpMemberDto">
		<result column="EMP_NO" property="empNo"/>
		<result column="EMP_NAME" property="empName"/>
		<result column="EMP_GENDER" property="empGender"/>
		<result column="EMP_BIRTH" property="empBirth"/>
		<result column="EMP_PHONE" property="empPhone"/>
		<result column="EMP_EMAIL" property="empEmail"/>
		<result column="EMP_ADDRESS" property="empAddress"/>
		<result column="EMP_EMPLOYMENT" property="empEmployment"/>
		<result column="EMP_DETAILADDRESS" property="empDetailAddress"/>
		<result column="EMP_POSTCODE" property="empPostcode"/>
		<result column="EMP_PASSWORD" property="empPwd"/>
		<result column="EMP_AUTH" property="empAuth"/>
		<result column="EMP_RANK" property="empRank"/>
		<result column="EMP_PROFILE" property="empProfile"/>
		<result column="DEPT_CODE" property="deptCode"/>
		<result column="USE_YN" property="useYn"/>
		<result column="AC_NO" property="acNo"/>
		<result column="AC_BANK" property="acBank"/>
		<result column="CREATER" property="creater"/>
		<result column="MODIFIER" property="modifier"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="WORK_DAY" property="workDay"/>
		<result column="WORK_START_TIME" property="workStartTime"/>
		<result column="WORK_END_TIME" property="workEndTime"/>
	</resultMap>
  
  <!-- 로그인 -->
  <select id="selectEmpMember" resultMap="empMemberResultMap">
  	SELECT
           EMP.EMP_NO,
           EMP.EMP_NAME,
           EMP.EMP_GENDER,
           EMP.EMP_BIRTH,
           EMP.EMP_PHONE,
           EMP.EMP_EMAIL,
           EMP.EMP_ADDRESS,
           EMP.EMP_EMPLOYMENT,
           EMP.EMP_DETAILADDRESS,
           EMP.EMP_POSTCODE,
           EMP.EMP_PASSWORD,
           EMP.EMP_AUTH,
           EMP_PROFILE,
           POS.NM AS EMP_RANK,           -- 직급명 가져오기
           DC.DEPT_NAME AS DEPT_CODE,		 -- 부서명
           EMP.CREATE_DATE,
           EMP.MODIFY_DATE,
           EMP.CREATER,
           EMP.MODIFIER,
           EMP.USE_YN,
           EMP.AC_NO,
           EMP.AC_BANK,
           w.work_day AS WORK_DAY, 
           w.work_start_time as WORK_START_TIME, 
           w.work_end_time as WORK_END_TIME
      FROM
           TBL_EMPLOYEE EMP
      LEFT JOIN
           TBL_COMMON_CODE POS ON EMP.EMP_AUTH = POS.CD
      LEFT JOIN
           tbl_department DC ON EMP.DEPT_CODE = DC.DEPT_CODE
      LEFT JOIN
           tbl_work w on emp.emp_no =w.emp_no
     WHERE EMP.EMP_EMPLOYMENT = 'Y' 
       AND EMP.EMP_EMPLOYMENT = 'Y'
       AND EMP.EMP_NO = #{empNo}
       AND TO_DATE(W.WORK_DAY, 'YY/MM/DD') = TO_DATE(SYSDATE, 'YY/MM/DD')
  </select>
  
  <!--  비밀번호 변경 -->
  <update id="updateEmpMember">
  	UPDATE
		   TBL_EMPLOYEE
	   SET 
 		   EMP_PASSWORD = #{empPwd}
  	 WHERE EMP_NO = #{empNo}
  </update>
  
  
  
  
  
  
  
  
  
  
  
</mapper>
