<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noteMapper">

<resultMap id="noteResultMap" type="NoteDto">
	<result column="NOTE_ID" property="noteId"/>
	<result column="NOTE_TITLE" property="title"/>
	<result column="NOTE_CONTENT" property="content"/>
	<result column="SENT_TIME" property="sentTime"/>
	<result column="SEND_ID" property="sentId"/>
	<result column="DELIVER_ID" property="deliverId"/>
	<result column="STATUS" property="status"/>
	<result column="RECEIVED_TIME" property="receivedTime"/>
	<result column="EMP_NO" property="empNo"/>
</resultMap>

	<select id="selectInBoxCount" resultType="_int">
	select
				count(*)
		FROM  
	   		 TBL_NOTE
	WHERE 
	    	 EMP_NO = #{empNo}
		  and
		     STATUS = 'D' 		
				
	
	</select>
	
	
	<select id="selectInBox" resultMap="noteResultMap">
		SELECT 
	    NOTE_ID,
	    NOTE_TITLE,
	    NOTE_CONTENT,
	    SENT_TIME,
	    SEND_ID,
	    DELIVER_ID,
	    STATUS,
	    RECEIVED_TIME,
	    EMP_NO
	FROM 
	    TBL_NOTE
	WHERE 
	    EMP_NO = #{empNo}
	    and
		     STATUS = 'D' 
	</select>
	<insert id="sendNote">
	INSERT INTO 
			         TBL_NOTE 
							(
							 NOTE_ID, 
							 NOTE_TITLE, 
							 NOTE_CONTENT, 
							 SENT_TIME, 
							 SEND_ID, 
							 DELIVER_ID, 
							 STATUS, 
							 RECEIVED_TIME, 
							 EMP_NO
							 )
							 VALUES
							 (
							 NOTE_NO_SEQ.NEXTVAL,
							 #{title},
							 #{content},
							 sysdate,
							 #{sentId},
							 #{deliverId},
							 'Y',
							 sysdate,
							 #{sentId}
							 )
							
	</insert>	   
</mapper>
