<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noteMapper">

<resultMap id="sendNoteResultMap" type="SendNoteDto">
	<result column="SEND_NO" property="sendNo"/>
	<result column="TITLE" property="title"/>
	<result column="CONTENT" property="content"/>
	<result column="SENT_DATE" property="sentDate"/>
	<result column="SEND_ID" property="sentId"/>
	<result column="STATUS" property="status"/>
	<result column="TEMP_STORAGE" property="tempStorage"/>
</resultMap>
<resultMap id="receptionNoteResultMap" type="ReceptionNoteDto">
	<result column="RECEPTION_NO" property="receptionNo"/>
	<result column="SEND_NO" property="sendNo"/>
	<result column="SENT_ID" property="sentId"/>
	<result column="RECEP_ID" property="recepId"/>
	<result column="TITLE" property="title"/>
	<result column="CONTENT" property="content"/>
	<result column="REC_CHECK" property="recCheck"/>
	<result column="REC_DATE" property="recCheck"/>
	<result column="STATUS" property="status"/>
</resultMap>

	<!-- 
	<select id="selectInBoxCount" resultType="_int">
	select
				count(*)
		FROM  
	   		 TBL_NOTE
	WHERE 
	    	 EMP_NO = #{empNo}
		  and
		     STATUS = 'D' 		
				
	
	</select>
	
	<select id="selectInBox" resultMap="noteResultMap">
		SELECT 
	    NOTE_ID,
	    NOTE_TITLE,
	    NOTE_CONTENT,
	    SENT_TIME,
	    SEND_ID,
	    DELIVER_ID,
	    STATUS,
	    RECEIVED_TIME,
	    EMP_NO
	FROM 
	    TBL_NOTE
	WHERE 
	    EMP_NO = #{empNo}
	    and
		     STATUS = 'D' 
	</select>
	<insert id="sendNote">
	INSERT INTO 
			         TBL_NOTE 
							(
							 NOTE_ID, 
							 NOTE_TITLE, 
							 NOTE_CONTENT, 
							 SENT_TIME, 
							 SEND_ID, 
							 DELIVER_ID, 
							 STATUS, 
							 RECEIVED_TIME, 
							 EMP_NO
							 )
							 VALUES
							 (
							 NOTE_NO_SEQ.NEXTVAL,
							 #{title},
							 #{content},
							 sysdate,
							 #{sentId},
							 #{deliverId},
							 'Y',
							 sysdate,
							 #{sentId}
							 )
							
	</insert>	   
	 -->
</mapper>
