<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="systemMapper">
	
	<resultMap id="boardTypeResultMap" type="BoardTypeDto">
 	<result column="BOARD_TYPE_NO" property="boardTypeNo" />
 	<result column="BOARDT_NAME" property="boardtName" />
    <result column="BOARDT_TYPE" property="boardtType" />
    <result column="BOARDT_READ" property="boardtRead" />
    <result column="BOARDT_WRITE" property="boardtWrite" />
    <result column="BOARDT_CONTENT" property="boardtContent" />
    <result column="BOARDT_USE" property="boardtUse" />
    <result column="OFFICE_USE" property="officeUse" />
    <result column="EMP_NO" property="empNo" />
    <result column="CREATE_DATE" property="createDate" />
    <result column="MODIFIER" property="modifier" />
    <result column="MODIFY_DATE" property="modifyDate" />
    <result column="USE_YN" property="useYN" />
	</resultMap>

	<select id="selectSystemBoardList" resultMap="boardTypeResultMap">
		select
			   BOARD_TYPE_NO
			 , BOARDT_NAME
			 , BOARDT_TYPE
			 , BOARDT_READ
			 , BOARDT_WRITE
			 , BOARDT_CONTENT
			 , BOARDT_USE
			 , OFFICE_USE
			 , EMP_NO
			 , CREATE_DATE
			 , MODIFIER
			 , MODIFY_DATE
			 , USE_YN
		  from TBL_BOARDTYPE
		 where USE_YN = 'Y'
	</select>
	
	<!-- 게시판 추가 	-->
	<insert id="insertBoard" >
		insert 
		  into TBL_BOARDTYPE
		  (
		    BOARD_TYPE_NO
		  , BOARDT_NAME
		  , BOARDT_TYPE
		  , BOARDT_READ
		  , BOARDT_WRITE
		  , BOARDT_CONTENT
		  , BOARDT_USE
		  , OFFICE_USE
		  , EMP_NO
		  , CREATE_DATE
		  , MODIFIER
		  , MODIFY_DATE
		  , USE_YN
		  )
			VALUES 
			(
			  BOARD_TYPE_NO_SEQ.NEXTVAL
			, '일반게시판'
			, 'S'
			, 5
			, 5
			, 5
			, 'N'
			, #{userData}
			, NULL
			, SYSDATE
			, #{userData}
			, SYSDATE
			, 'Y'
			)
	</insert>
	
	<!-- 게시판 수정	--> 
	<update id="boardsUpdate">
		update
			   TBL_BOARDTYPE
		   set BOARDT_NAME = #{boardtName}
			 , BOARDT_TYPE = #{boardtType}
			 , BOARDT_READ = #{boardtRead}
			 , BOARDT_WRITE = #{boardtWrite}
			 , BOARDT_CONTENT = #{boardtContent}
			 , BOARDT_USE = #{officeUse}
			 , OFFICE_USE = #{deptCode}
		 where BOARD_TYPE_NO = #{boardTypeNo}
	</update>
	
	<!-- 게시판 삭제 -->
	<delete id="boardsDelete">
		update 
			   TBL_BOARDTYPE
		   set USE_YN = 'N'
		 where BOARD_TYPE_NO = #{boardTypeNo}
	</delete>




</mapper>
