<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="workMapper">

	<resultMap id="empWorkResultMap" type="WorkDto">
		<result column="WORK_NO" property="workNo"/>
		<result column="EMP_NO" property="empNo"/>
		<result column="WORK_TYPE_CODE" property="workTypeCode"/>
		<result column="WORK_DAY" property="workDay"/>
		<result column="WORK_START_TIME" property="workStartTime"/>
		<result column="WORK_END_TIME" property="workEndTime"/>
		<result column="WORK_PERMIT" property="workPermit"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MODIFIER" property="modifier"/>
		<result column="MODIFIER_DATE" property="modifyDate"/>
		<result column="USE_YN" property="useYn"/>
		<result column="WORK_ATTENDANCE" property="workAttendance"/>
	</resultMap>
	
	<insert id="empAllWorkInser">
		INSERT INTO tbl_work 
		(
		  WORK_NO, EMP_NO, WORK_TYPE_CODE, WORK_DAY, WORK_START_TIME, WORK_END_TIME, 
		  WORK_PERMIT, CREATE_DATE, MODIFIER, MODIFIER_DATE, USE_YN, WORK_ATTENDANCE
		)
		SELECT 
					  work_no_seq.NEXTVAL,   
					  e.EMP_NO,              
					  'Y',
					  SYSDATE,
					  null,
					  null,
					  'Y',
					  SYSDATE,
					  '0000',   --시스템 번호
					  SYSDATE,
					  'Y',
					  'N'
			FROM  tbl_employee e
		 where  e.use_yn = 'Y'
	</insert>

	<select id="workCheck" resultMap="empWorkResultMap">
		select *
		  from tbl_work
	 	 where emp_no = #{empNo}
		   and TRUNC(WORK_DAY) = TRUNC(SYSDATE)
	</select>

	
	<!-- 출근 -->
	<update id="empWorkStartTime">
		update tbl_work
	       set work_start_time = to_char(sysdate, 'HH24:MI:SS')
		 where emp_no = #{empNo}
		   and trunc(work_day) = trunc(sysdate)
	</update>
	
	<!-- 퇴근 -->
	<update id="empWorkEndTime">
	
		<![CDATA[
		UPDATE 
			   TBL_WORK
  		   SET 
  		   	   WORK_END_TIME = TO_CHAR(SYSDATE, 'HH24:MI:SS')
  		   	 , WORK_ATTENDANCE =
                        CASE 
                            WHEN ((TO_DATE(TO_CHAR(SYSDATE, 'HH24:MI:SS'), 'HH24:MI:SS') - TO_DATE(WORK_START_TIME, 'HH24:MI:SS')) * 24) < 4 THEN 'N'
                            WHEN ((TO_DATE(TO_CHAR(SYSDATE, 'HH24:MI:SS'), 'HH24:MI:SS') - TO_DATE(WORK_START_TIME, 'HH24:MI:SS')) * 24) >= 4 
                                 AND ((TO_DATE(TO_CHAR(SYSDATE, 'HH24:MI:SS'), 'HH24:MI:SS') - TO_DATE(WORK_START_TIME, 'HH24:MI:SS')) * 24) < 9 THEN 'J'
                            WHEN TO_DATE(WORK_START_TIME, 'HH24:MI:SS') <= TO_DATE('09:00:00', 'HH24:MI:SS') 
                                 AND TO_DATE(TO_CHAR(SYSDATE, 'HH24:MI:SS'), 'HH24:MI:SS') >= TO_DATE('18:00:00', 'HH24:MI:SS') THEN 'O'
                            WHEN sysdate > to_date(to_char(sysdate, 'YY/MM/DD') || ' 09:00:00', 'YY/MM/DD HH24:MI:SS')
                                 AND WORK_END_TIME IS NOT NULL then 'L'
                            ELSE 'N'
                        END
		 WHERE emp_no = #{empNo}
		   AND TRUNC(WORK_DAY) = TRUNC(SYSDATE)
		  ]]>
	</update>
	

</mapper>
